body{
    text-align:center;
    background-image:linear-gradient(180deg,aqua,red);
    background-repeat:no-repeat;
}
#ttracketimage{
    width:200pxpx;
    height:200px;
    border-radius:50%;
}
.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 45px auto;
}
h1{
    text-shadow:4px 4px darkorange;
    font-family:Cursive;
    color:aquamarine;
}
p{
    font-size:25px;
    background-image:linear-gradient(120deg,darkturquoise,darkorange);
    font-family:cursive;
}